.status-indicator {
  position: relative;
  padding-left: 1rem;
  font-weight: $base-font-bold;

  &::before {
    position: absolute;
    top: 6px;
    left: 0;
    width: 0.75rem;
    height: 0.75rem;
    display: block;
    border-radius: $full-border-radius;
    content: '';
    background: tint($base-color, 60%);
  }

  &--open::before {
    background: $secondary-color
  }

  &--completed::before,
  &--close::before {
    background: tint($base-color, 60%);
  }

  &--canceled::before {
    background: #ea4f54;
  }
}

.progress-bar {
  @include appearance(none);
  border: none;
  border-radius: $base-border-radius;
  height: 0.5rem;
  width: 100%;
  display: block;

  &::-moz-progress-bar {
    background: none;
  }

  &::-webkit-progress-bar {
    background: none;
  }

  &::-webkit-progress-value {
    background: none;
  }

  /* For IE10 */
  color: transparent;

  background-color: tint($base-color, 96%);
  background-image: linear-gradient(to right, $secondary-color 0%, $secondary-color 100%);
  background-repeat: repeat-y;
  background-position: top left;

  &.progress-bar--disabled {
  background-image: linear-gradient(to right, tint($base-color, 60%) 0%, tint($base-color, 60%) 100%);
  }
}

.message {
  margin-top: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: $base-border-radius;
  font-size: 0.875rem;
  font-weight: $base-font-regular;
  line-height: 1.25rem;
  background: tint($base-color, 80%);
  color: $base-font-color;
  @include animation(fade-in 0.32s ease 0s 1);

  &.message--alert {
    background: tint($danger-color, 80%);
    color: $danger-color;
  }
}

.loading-indicator {
  position: relative;
  padding: 1rem 1rem 1rem 2.5rem;
  font-weight: $base-font-bold;
  background: tint($base-color, 96%);
  border-radius: $base-border-radius;

  &::before {
    @extend %oam-ds-icon-arrow-spin-clockwise;
    position: absolute;
    top: 19px;
    left: 1rem;
    @include animation(spin-c 1s linear 0s infinite);
  }
}

.button--delete {
  @extend .button;
  @include button-variation("filled", "dark", $danger-color);

  &::before {
    @extend %oam-ds-icon-trash-bin;
  }
}

.button-add-request {
  @extend .button, .button--primary, .button--large;

  &::before {
    @extend %oam-ds-icon-plus;
  }
}

.button-add-task {
  @extend .button, .button--primary;

  &::before {
    @extend %oam-ds-icon-plus;
  }
}

.button-edit {
  @extend .button, .button--primary;

  &::before {
    @extend %oam-ds-icon-pencil;
  }
}
