.map-container {
  margin-bottom: 2rem;
  height: 16rem;
  background-color: tint($base-color, 96%);
  position: relative;

  .mapbox-gl-draw_polygon {
    &.disabled {
      opacity: 0.25;
    }
  }

  &--edit,
  &--display {
    height: 30rem;
  }

  &--dashboard {
    height: 40rem;
  }

  .mapboxgl-map {
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
}

/* Map layers
   ========================================================================== */

.map-layers {
  position: absolute;
  left: 1rem;
  top: 5.5rem;
  z-index: 10;
}

.drop__content--maplayers {
  width: 14rem;
}

.map-layers-list {
  .drop__menu-item {
    @include display(flex);
    @include justify-content(flex-start);
    @include align-items(center);
    @include flex-wrap(nowrap);

    &--active:after {
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  &__map {
    @include flex(0 0 auto);
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
    border-radius: $base-border-radius / 2;
  }
}

.button-layers {
  @extend .button, .button--achromic, .button--text-hidden, .drop__toggle;
  &:before {
    @extend %oam-ds-icon-layers;
  }
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl-group {
  margin: 1rem 0 0 1rem;
  box-shadow: none;
  float: none;
  background: none;

  .button {
    @extend .button--achromic;
    border: none;
  }
}

/* Popover
   ========================================================================== */

.popover--request {

  .status-indicator {
    margin: 0;
  }

  .request-tasks-info {
    @extend .clearfix;
    padding: 0;
    margin-bottom: 1rem;

    li {
      list-style: none;
      float: left;
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .request-progress {
    @extend .clearfix;

    .progress-bar {
      @include col(10/12);
      margin-top: 0.5rem;
    }

    .progress-value {
      @include col(2/12);
      margin: 0;
    }
  }
}