
.maps {
  .map-wrapper {
    @include col(4/12);
    height: 20rem;
  }
}

.maps-swipe {
  margin-bottom: 2rem;
  height: 30rem;
  background-color: tint($base-color, 96%);
  position: relative;

  &__container {
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .map-container--search-large {
    @include col(1)
    margin-bottom: 1rem;
  }

  .map--search-thumbs {
    height: 8rem;
    margin-bottom: 1rem;
  }

  .map--search-thumb {
    @include col(4/12)
    float:left;
    height: 7rem;
    margin-bottom: 1rem;
    &:last-child {
      margin: 0;
    }
  }

}

.map-container--search-large {
  @include col(1)
  margin-bottom: 1rem;
}

.map--search-thumbs {
  height: 8rem;
  margin-bottom: 1rem;
}

.map--search-thumb {
  @include col(4/12)
  float:left;
  height: 9rem;
  margin-bottom: 1rem;
  opacity: 1;
  transition: opacity 0.2s;
  &:last-child {
    margin: 0;
  }
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.5;
  }
}
