/* ==========================================================================
   Task: Content
   ========================================================================== */

.section__subtitle {
  margin-bottom: 0;
  text-transform: uppercase;
}

.task-author,
.task-assignee {
  margin-bottom: 0;
}

.task-updates {
  &__list {
    padding: 0;
  }

  &__item {
    list-style: none;
    margin-top: 2rem;
    max-width: 45rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .update-status {
    margin-bottom: 0;
  }

  .update-comment {
    border-radius: $base-border-radius;
    background: tint($base-color, 96%);
    padding: $global-spacing;
  }
}


.tasks-list {
  @extend .clearfix;
  padding: 0;
  margin-bottom: 2rem;

  &__item {
    list-style: none;
    margin-top: 1rem;

    &:first-child {
      margin-top: 0;
    }
  }
}

.task {
  box-shadow: 0 3px 0 0 $base-semi-alpha-color, 0 0 0 1px $base-alpha-color;
  border-radius: $base-border-radius;

  &__header {
    // background: tint($base-color, 96%);
    padding: $global-spacing $global-spacing 0 $global-spacing;
  }

  &__body {
    padding: $global-spacing;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    @extend .heading--small;
    margin: 0;
  }

  .status-indicator {
    margin: 0;
  }

  .task-author {
    margin-bottom: 0;
  }


  .meta-info {
    font-size: 0.75rem;
  }
}

.task-updates-form {
  box-shadow: 0 3px 0 0 $base-semi-alpha-color, 0 0 0 1px $base-alpha-color;
  padding: $global-spacing;
  border-radius: $base-border-radius;
  max-width: 45rem;
  margin-bottom: 2rem;
}