/* ==========================================================================
   Request: Content
   ========================================================================== */

.section--page {
  .section__header {
    padding: 2rem 0;
  }
}

.tasks-list-container {
  margin-bottom: 2rem;

  > *:last-child {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .tasks-list__item {
    @include media(medium-up) {
      @include col(6/12, $cycle: 2);
      margin-top: 2rem;

      &:nth-child(2) {
        margin-top: 0;
      }
    }
  }
}
